<app-toolbar></app-toolbar>

<section  class="container-new-post">
  <form
    [formGroup]="newPostForm"
    class="new-post-form"
    (ngSubmit)="createPost()"
  >
    @if (postEdit) {
    <div>
      <h1>EDIT POST {{ postEdit.id }}</h1>
    </div>

    }@else {
    <div>
      <h1>NEW POST</h1>
    </div>
    }
    <p-floatLabel>
      <input pInputText id="title" formControlName="title" />
      <label for="Title">Title</label>
    </p-floatLabel>
    <div class="flex flex-wrap ">
      <small class="p-error  col-12" *ngIf="newPostForm.get('title')?.hasError('required') && !newPostForm.get('title')?.markAsTouched">
        Please enter a valid title.
      </small>

    </div>

    <p-floatLabel>
      <textarea
        id="float-input"
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="body"
      >
      </textarea>
      <label for="float-input">Body</label>
    </p-floatLabel>

    <div class="flex flex-wrap "> 

      <small class="p-error  col-12" *ngIf="newPostForm.get('body')?.hasError('required')&& !newPostForm.get('title')?.markAsTouched">
        Please enter a valid body.
      </small>
    </div>


    <div class="footer-buttons">
      <button
      [disabled]="!newPostForm.valid && isLoading"
        pButton
        type="submit"
       [label]="postEdit ? 'Update Post' : 'Submit'"
       [icon]="isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
        class="p-button-primary"
      ></button>
      <button
        pButton
        (click)="cancel($event)"
        label="Clean"
        icon="pi pi-eraser"
        class="p-button-danger"
      ></button>
    </div>
  </form>
</section>
