.container-new-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.new-post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 60vw;
    input{
        width: 50vw;
    } 
    textarea{
        width: 50vw;
    }  
}

.footer-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

p-floatLabel{
    margin-top: 15px; 
}

@media screen and (max-width: 500px) {
    .new-post-form{
        width: 90vw;
    }
}