<app-toolbar></app-toolbar>
<div class="search-bar">
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-search" />
    <input 
      type="text" 
      (ngModelChange)="search($event)" 
      [(ngModel)]="searchText" 
      pInputText 
      placeholder="Search" />
  </p-iconField>
</div>

<section class="container-post">
    @if (!searchText) {
        <p-card (click)="goToNewPost()" [style]="{width: '80vw' }">
            <div class="new-post">
                NEW POST
                <i class="pi pi-plus-circle" style="font-size: 1.5rem"></i>
            </div>
        </p-card>
    }
    @for (post of paginatedPosts ; track $index) {

        <app-card-post [post]="post"></app-card-post>
    }
</section>

<footer class="footer">
    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="first"
        [rows]="rows" 
        [totalRecords]="posts.length" 
        [rowsPerPageOptions]="[10, 15, 20]" />

</footer>